@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.navbar {
    text-align: center;
    background-color: #A6D0DD;
    padding: 1.75rem;
}

.header {
    font-size: 2rem;
}

.container {
    height: 100vh;
    background-color: #FFF9DE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .box {
    width: 40vh;
    height: 40vh;
    padding: 10px;
    background-color: #FFD3B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 3rem;
    border-radius: 2rem;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.increase,
.decrease {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    background-color: #FF6969;
    border: none;
    outline: none;
    border-radius: 50%;
}